{{#if errors}}
  <div class="ui negative message transition">
    <div class="header">
      There were some errors with your submission:
    </div>
    <ul class="list">
      {{#each errors}}
        <li>{{message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}