{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/boo.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Booo!</header>
      <p> Welcome to the scary social network. You can join us, if you are brave enough... </p>
    </article>
  </div>
</section>