{{> mainmenu _id="search"}}

<div class="ui purple segment">Search result for <b>{{input}}</b>:</div>

<div class="ui segment">
  <div class="ui grid">
    {{#each usersFound as |user|}}
    <div class="four wide column">
      {{> usercard user=user }}
    </div>
    {{/each}}
  </div>
</div>