{{> mainmenu _id="timeline"}}

<div class="ui segments">
  <form class="ui horizontal grid segments" action="/submit-post" method="POST">
    <input class="ui fourteen wide column segment" type="text" name="amount" placeholder="Write something scary...">
    <div class="ui one wide column segment"><button class="ui blue submit button">Booo!</button></div>

  </form>
</div>