{{> mainmenu _id="timeline"}}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/boo.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Booo!</header>
      <p> TIMELINE</p>
    </article>
  </div>
</section>